enable-pre-post-scripts=true
# Allow these packages to run build scripts
trusted-dependencies[]=prisma
trusted-dependencies[]="@prisma/client"
trusted-dependencies[]="@prisma/engines"
trusted-dependencies[]=bcrypt
